h1
{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    padding-left: 50px;

}
img{
    size: 10px;
    width: 825px;
    height: 200px;
}
span
{
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   font-size: 50px; 
   height: 11px;
   

}