*{
margin: 0;
border: 0;
}

body{
    background-color: black;
    color:white;
}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: end;
    text-align:center;
  

}

header h1{
    font-size: 60px;
    font-family: impact;
    display: flex;
    justify-content: center;


}

#images {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}

 img {
    margin-top: 20px;
    width:956px;
    height: 284px;

}

header li{
    list-style: none;
    padding: 10px 10px;
    margin:10px 10px;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#text p{
    font-family: impact;
    display: block;

    
  
    
}

 p{
   
    padding-top: 10px;
    

}
