

#heading{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    letter-spacing: 12px;
   
}

#slogan{
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    word-spacing: 12px;
    display: inline;
}

#head{
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 4px;
    display: inline-flex;
}

#side{
    display: flex;
    height: 500px;
    width: 500px;
    float: right;
    padding-right: 30px;
}

#text{
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: inline;
    padding-left: 20px;
}

.line{
    margin-top: 90px;
}

#explore{
    height:fit-content;
    width: fit-content;
    background-color:aqua;
    padding: 20px;
    border-radius: 8px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-top: 80px;
     
}

#button{

    display: flex; 
    align-items: center;
    justify-content: center;
    

}